/* Useful variables */
/* ------------------------------------------------ */
:host {
    /* Main Light Mode */
    --main-output-bg-color: #282C34;
    --main-output-bg-color-light: #333235;
    --main-output-text-color: #FFFEFF;

    /* Dark Mode */
    --dark-mode-main-output-bg-color: #F5F5F5;
    --dark-mode-main-output-text-color: black;

    /* Common */
    --error-color: red;
    --run-btn-main-color: #00cc3d;
    --run-btn-active-color: #00aa33;
    --run-btn-shadow-color: #00cc3d81;
    --run-btn-active-shadow-color: #00cc3d3d;
    --output-height: 30%;
}


/* Main elements Customization */
/* ------------------------------------------------ */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.error {
    color: var(--error-color);
}

/* Reset styles that may appear from upper elements (e.g. with reveal.js) */
#code-container>* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: normal;
    font-size: medium;
    text-align: left;
}

#code-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    height: 100%;
}

#play-container {
    position: absolute;
    right: max(3%, 30px);
    top: 5%;
    z-index: 10;
}

#editor-container {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#editor {
    height: calc(100% - var(--output-height));
}

#editor-output,
#editor-input {
    background-color: var(--main-output-bg-color);
    color: var(--main-output-text-color);
    height: var(--output-height);
    min-height: 100px;
}

#output-title-container,
#input-title-container {
    height: max(20%, 30px);
    display: flex;
    align-items: center;
}

#output-title,
#input-title {
    margin: 0;
    height: 60%;
    margin-left: 10px;
    font-size: 13px;
    width: fit-content;
    border-bottom: 1px solid white;
    color: white;
    box-sizing: border-box;
}

#output-container,
#input-container {
    overflow: auto;
    height: calc(100% - max(20%, 30px));
    width: 100%;
}

.output-text,
.input-text {
    padding: 3px 0 0 10px;
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    white-space: pre-wrap;
}

/* CodeMirror Customization */
/* ------------------------------------------------ */
.cm-editor {
    height: 100%;
    font-size: 2vmin;
}

.cm-scroller {
    overflow: auto
}

/* Run Button Customization */
/* ------------------------------------------------ */
#run-button {
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    padding: 1em 2em;
    margin-top: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--run-btn-main-color);
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px var(--run-btn-shadow-color);
}

#run-button:focus {
    outline: 0;
}

#run-button:before,
#run-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

#run-button:before {
    display: none;
    top: -75%;
    background-image:
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, var(--run-btn-main-color) 20%, transparent 30%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--run-btn-main-color) 15%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

#run-button:after {
    display: none;
    bottom: -75%;
    background-image:
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--run-btn-main-color) 15%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%),
        radial-gradient(circle, var(--run-btn-main-color) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

#run-button:active {
    transform: scale(0.9);
    background-color: var(--run-btn-active-color);
    box-shadow: 0 2px 25px var(--run-btn-active-shadow-color);
}

#run-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

#run-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

#run-button.running {
    background-color: #474747;
    box-shadow: 0 2px 25px #3a3a3a;
}

/* Custom Scrollbar Design */
/* ------------------------------------------------ */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    background-color: var(--dark-mode-main-output-bg-color-light);
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: var(--main-output-bg-color);
}

*::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #999999;
}

.rounded-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--main-output-bg-color);
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* Animations */
/* ------------------------------------------------ */
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* Custom Screen properties */
/* ------------------------------------------------ */
@media screen and (max-width: 1000px) {

    #output,
    #input {
        font-size: 15px;
    }

    #run-button {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {

    #output,
    #input {
        font-size: 15px;
    }

    #run-button {
        font-size: 13px;
    }
}