#play-container {
    top: unset;
    right: calc(var(--output-height) + 20px);
    bottom: 5%;
}

#editor-container {
    display: flex;
    justify-content: space-between;
}

#editor {
    height: 100%;
    width: calc(100% - var(--output-height));
}

#editor-output {
    height: 100%;
    width: var(--output-height);
    min-height: 0;
    min-width: 100px;
}

#output-title-container {
    height: 7%;
    margin-top: 10px;
}


#output-container {
    height: calc(100% - 30px - 10px);
    width: 100%;
}
