#editor-output, #editor-input {
    background-color: var(--dark-mode-main-output-bg-color);
    color: var(--dark-mode-main-output-text-color);
}

#output-title, #input-title {
    border-bottom: 1px solid var(--dark-mode-main-output-text-color);
    color: var(--dark-mode-main-output-text-color);
}

#input {
    color: var(--dark-mode-main-output-text-color);
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--dark-mode-main-output-bg-color);
}
