* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    transition: all 0.1s;
}

[data-tab-content] {
    display: none;
}

.active-item[data-tab-content] {
    display: block;
}

#input-container {
    height: calc(100% - 48px);
    background-color: #282C34;
    text-align: left;
}

#textarea-container {
    width: 100%;
    height: calc(100% - 5vmin - 48px);
    overflow: hidden;
}

#input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: white;
    font-size: 2vmin;
    box-sizing: border-box;
    padding: 2vmin;
    overflow: auto;
}

#output-container {
    background-color: #282C34;
    height: calc(100% - 48px);
    text-align: left;
}

#output {
    font-family: monospace;
    width: 100%;
    max-height: calc(100% - 5vmin - 48px);
    overflow: auto;
    color: #FFFEFF;
    font-size: 2vmin;
    margin: 0;
    padding: 1vmin 2vmin;
    overflow: auto;
}

#editor {
    height: calc(100% - 48px);
    width: 100%;
}

.tabs {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #EBECED;
    color: rgb(150, 240, 177);
    list-style-type: none;
}

.tab {
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.active {
    color: #3896FC;
    filter: invert(48%) sepia(83%) saturate(1583%) hue-rotate(191deg) brightness(97%) contrast(104%);
}

.container {
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    z-index: 3;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(160, 236, 241);
}

#play-container {
    position: absolute;
    right: 3%;
    top: 5%;
    z-index: 10;
}

#tabs-container {
    bottom: calc(3% + 48px);
}

#copy-container {
    bottom: calc(6% + 4.5vmin + 48px);
}

.floating-run {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2vmin;
    bottom: calc(2vmin + 48px);
}

.floating-run i {
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #7aeb8d69;
    color: #7aeb8d69;
    background-color: #3cc95469;
    font-size: 50px;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    z-index: 100;
    background: #EBECED;
    color: rgb(150, 240, 177);
}

nav a {
    padding: 1% 2% 1% 2%;
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

nav p {
    font-size: 12px;
    text-align: center;
    color: gray;
}

.col {
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    color: black;
    row-gap: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-spacer {
    display: flex;
    align-items: center;
    background-color: #282C34;
    width: fit-content;
    height: 5vmin;
}

.item .text-spacer p {
    box-sizing: border-box;
    margin: 0 0 0 1.5vmin;
    padding: 0 0 1vmin 0;
    max-height: 100%;
    font-size: 2vmin;
    background-color: #282C34;
    border-bottom: .5px solid #555;
    color: white;
}

.item i {
    background-color: #282C34;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: 2vmin;
    color: rgb(12, 12, 12);
}