<!-- Roboto Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

<div id="code-container">
    <!-- Overlay Message -->
    <div id="message"></div>

    <!-- Run Button -->
    <div id="play-container">
        <button id="run-button">Run Code!</button>
    </div>

    <!-- Tabs Handling Button -->
    <div id="tabs-container">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 128.000000 128.000000"
            preserveAspectRatio="xMidYMid meet">
            <g id="tabs-svg" class="disabled" transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                fill="#ff4133" stroke="none">
                <path d="M71 1262 c-19 -10 -43 -34 -53 -53 -17 -31 -18 -70 -18 -569 0 -499
1 -538 18 -569 10 -19 34 -43 53 -53 31 -17 70 -18 569 -18 499 0 538 1 569
18 19 10 43 34 53 53 17 31 18 70 18 569 0 499 -1 538 -18 569 -10 19 -34 43
-53 53 -31 17 -70 18 -569 18 -499 0 -538 -1 -569 -18z m1131 -60 l23 -23 0
-539 0 -539 -23 -23 -23 -23 -539 0 -539 0 -23 23 -23 23 -2 527 c-2 410 0
533 10 552 26 50 24 50 589 47 l527 -2 23 -23z" />
                <path d="M1016 834 c-3 -9 -6 -52 -6 -97 l0 -81 -90 88 c-76 74 -92 86 -105
76 -23 -19 -19 -27 42 -91 l56 -59 -365 0 c-313 0 -367 -2 -378 -15 -10 -12
-10 -18 0 -30 11 -13 65 -15 378 -15 l365 0 -56 -59 c-61 -64 -65 -72 -42 -91
13 -10 29 2 105 76 l90 88 0 -81 c0 -45 3 -88 6 -97 8 -21 40 -21 48 0 8 20 8
368 0 388 -3 9 -14 16 -24 16 -10 0 -21 -7 -24 -16z" />
            </g>
        </svg>
    </div>

    <!-- Copy Code Button -->
    <div id="copy-container">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 128.000000 128.000000"
            preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path d="M26 1254 l-26 -27 0 -467 0 -467 26 -27 c22 -22 36 -26 80 -26 l54 0
0 40 0 40 -40 0 -40 0 0 440 0 440 440 0 440 0 0 -40 0 -40 40 0 40 0 0 54 c0
44 -4 58 -26 80 l-27 26 -467 0 -467 0 -27 -26z" />
                <path d="M266 1014 l-26 -27 0 -467 0 -467 26 -27 27 -26 467 0 467 0 27 26
26 27 0 467 0 467 -26 27 -27 26 -467 0 -467 0 -27 -26z m934 -494 l0 -440
-440 0 -440 0 0 440 0 440 440 0 440 0 0 -440z" />
            </g>
        </svg>
    </div>

    <!-- Complete editor -->
    <div id="editor-container">
        <!-- CodeMirror Editor -->
        <div id="editor"></div>
        <!-- Input & Output -->
        <div id="input-output-container">
            <div id="editor-input">
                <div id="input-title-container">
                    <p id="input-title">INPUT</p>
                </div>
                <!-- Input -->
                <div id="input-container">
                    <textarea name="input-text" id="input" class="input-text rounded-scrollbar"></textarea>
                </div>
            </div>
            <div id="editor-output">
                <div id="output-title-container">
                    <p id="output-title">OUTPUT</p>
                </div>
                <!-- Output console.log -->
                <div id="output-container" class="rounded-scrollbar">
                    <p class="output-text" id="output"></p>
                </div>
            </div>
        </div>
    </div>
</div>